* {
    border: dotted rgb(74, 114, 167) 5px;
}

body {
    background-color: white;
    color: black;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
  
h1 {

}
  
p {
    font-size: 20px;
}

canvas {
    border: solid black 5px;
    width: 90%;
    height: 90%;
}